name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run system-info script
        run: |
          chmod +x Module2/system-info.sh
          ./Module2/system-info.sh

      - name: CI success message
        run: echo "Week 3 CI Successful"

